$header-height = 70px
$title-height = 60px
$side-bar-width = 165px
$side-bar-width-with-padding = 180px
$side-bar-align = -480px
$content-width = 600px

border-radius()
  border-radius arguments
  -moz-border-radius arguments
  -webkit-border-radius arguments

box-shadow()
  box-shadow arguments
  -moz-box-shadow arguments
  -webkit-box-shadow arguments

disable-selection()
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -o-user-select none
  user-select none

html, body
  font-family 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif
  font-size 15px
  margin 0
  padding 0

#header
  position: fixed
  width: 100%
  height: $header-height
  top: 0px
  padding 0px
  margin 0px
  background-color #EEE
  border-bottom 1px solid #DDD
  z-index 1

#header-content
  width 960px
  margin 0 auto
  margin-top 0px
  height $header-height
  overflow hidden

h1#logo
  position absolute
  margin 0px
  padding 0px
  margin-top 18px
  margin-left 0px

#title
  background-color white
  position absolute
  margin 0px
  margin-top 10px
  margin-left $side-bar-width-with-padding
  padding 0px
  width $content-width
  height $title-height
  box-shadow(0px 0px 4px #888)

#title h1,
#title h2
  margin 0px
  margin-left 20px
  padding 0px
  float left

h1#category-title
  margin-top 3px
  font-size 24px
  clear left
  width 260px
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

h2#feed-title
  font-size 15px
  color #555
  font-style italic
  clear left
  width 560px
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

ul.segmented-button
  font-size 9px
  margin 0px
  margin-top 8px
  margin-right 8px
  background-color #EEE
  border 1px solid #BBB
  border-radius(3px)

ul.segmented-button li
  margin 0px
  padding 3px
  padding-left 7px
  padding-right 7px
  float left
  display block
  text-transform uppercase
  text-align center
  disable-selection()

ul.segmented-button li:hover
  background-color #DDD
  cursor pointer

ul.segmented-button li:last-child
  border-right 0px

ul.segmented-button li.selected
  background-color #BBB

#view-selector
  float right

#view-selector > li
  width 55px

ul.tools
  font-size 9px
  margin 0px
  padding 0px

ul.tools li
  margin 0px
  margin-top 8px
  margin-right 8px
  background-color #EEE
  border 1px solid #BBB
  border-radius(3px)
  padding 3px
  padding-left 7px
  padding-right 7px
  float left
  display block
  text-transform uppercase
  text-align center
  cursor auto
  disable-selection()

ul.tools li:hover
  background-color #DDD
  cursor pointer

#feed-tools
  float right

#left
  position fixed
  left 50%
  margin-left $side-bar-align
  padding 0px
  top $header-height
  width $side-bar-width

#center
  padding 0px
  padding-left $side-bar-width-with-padding
  padding-right $side-bar-width-with-padding
  width $content-width
  margin 0 auto
  margin-top $header-height

#content
  padding 0px
  padding-left 20px
  padding-right 20px
  min-height 400px
  box-shadow(0px 0px 7px #888)

#right
  position fixed
  right 50%
  margin-right $side-bar-align
  padding 0px
  top $header-height
  width $side-bar-width

ul.clean-list
  padding 0px
  list-style-type none

ul.side-menu
  font-size 15px
  margin-top 10px
  margin-bottom 15px

ul.side-menu li
  padding-top 5px
  padding-left 2px
  height 1.5em
  line-height 1.2em
  cursor auto
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
  disable-selection()

ul.side-menu li:hover
  background-color #EEE
  cursor pointer

ul.side-menu li.selected
  background-color #DDD

ul.side-menu li.side-menu-placeholder
  border 2px dotted #DDD

ul.side-menu li .handle
  width 6px
  height 100%
  background none
  margin-right 5px
  float left
  cursor auto

ul.side-menu li:hover .handle
  background-image url('/images/grip.png')
  background-repeat no-repeat
  background-position left 2px

ul.side-menu li:hover .handle:hover
  cursor move

#content.articles > .entry
  padding-top 10px
  margin-bottom 40px
  opacity 0.4
  -moz-opacity 0.4
  -khtml-opacity 0.4

#content.articles > .entry:last-child
  padding-bottom 40px

#content.articles > .entry .title h1
  font-size 22px
  margin 0px
  margin-bottom 2px
  padding 0px
  display block
  border-bottom 2px solid #DDD

#content.articles > .entry .body
  clear both
  line-height 1.8em

#content.articles > .entry.active
  opacity 1.0
  -moz-opacity 1.0
  -khtml-opacity 1.0

#content.summary
  width 560px
  float left

#content.summary > .entry
  margin 0px
  padding 10px
  float left
  width 260px
  height 90px
  overflow hidden

#content.summary > .entry:hover
  background-color #EEE
  cursor pointer

#content.summary > .entry:last-child
  margin-bottom 40px

#content.summary > .entry .body
  font-size 14px
  margin 0px
  padding 0px
  font-weight normal
  line-height 1.2em
  float left
  color #888

#content.summary > .entry .body b
  color black
