!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(data-main='/js/main', src='/js/require.min.js')
  body
    script(type='text/template', id='category-template')
      .handle
      .title

    script(type='text/template', id='summary-entry-template')
      .info
        .date
        .feed
      .body

    script(type='text/template', id='articles-entry-template')
      .title
        h1
        .date
        .feed
      .body

    #header
      #header-content
        h1#logo PaperBox
        #title
          ul#view-selector(class='clean-list segmented-button')
            li#view-mode-summary Summary
            li#view-mode-articles Articles
          ul#feed-tools(class='clean-list tools')
            li#tools-read-button Mark as Read
            li#tools-refresh-button Refresh
          h1#category-title
          h2#feed-title

    #left
      ul#categories-menu(class='side-menu clean-list')
      ul(class='side-menu clean-list')
        li Logout

    #center
      #content

    #right
      ul(class='side-menu clean-list')
        li All Feeds
      ul#feeds-menu(class='side-menu clean-list')
