!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(data-main='/js/main', src='/js/require.min.js')
  body
    script(type='text/template', id='entry-template')
      .title
        h1
      .content

    #header
      #header-content
        h1#logo PaperBox
        #title
          ul(class='clean-list segmented-button')
            li#view-mode-overview Overview
            li#view-mode-full Full
          h1#category-title
          h2#feed-title

    #left
      ul(class='side-menu clean-list')
        li Front Page
      ul#categories-menu(class='side-menu clean-list')
      ul(class='side-menu clean-list')
        li Account
        li Settings
        li Logout

    #center
      #content

    #right
      ul(class='side-menu clean-list')
        li All Feeds
      ul#feeds-menu(class='side-menu clean-list')
