!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(data-main='/js/main', src='/js/require.min.js')
  body
    #chrome
      #header
        #logo
          h1 PaperBox
        #controls
          h1 Controls
        #leftbar
          h1 Categories
        #rightbar
          h1 Feeds

    #content
      p para1
      p para2
      p para3
      p para4
